<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./assets/css/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <title>Scrapte IT</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4 font-weight-bold">Welcome to Scrape IT</h1>
            <p class="lead"><strong>All the News That's Fit to Scrape.</strong></p>
        </div>
    </div>
    <div class="container text-center">
        <button type="button" class="btn btn-primary btn-lg active btnHome">Home </button>
        <button type="button" class="btn btn-info btn-lg active btnSaved">Saved Articles </button>
        <button type="button" class="btn btn-success btn-lg active btnScrape">Scrape It </button>
    </div>
    <div class="row ml-5 mr-5 mt-5">
        {{{body}}}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="./assets/js/scrape.js"></script>
</body>

</html>